DATABASE_URL=postgresql+asyncpg://dungeon:dungeon@localhost:5432/dungeon
DATABASE_URL_SYNC=postgresql+psycopg2://dungeon:dungeon@localhost:5432/dungeon

# postgres
POSTGRES_PORT_HOST=5432
POSTGRES_PORT_CONTAINER=5432
POSTGRES_USER=dungeon
POSTGRES_PASSWORD=dungeon
POSTGRES_DB=dungeon

# redis
REDIS_PORT_HOST=6379
REDIS_PORT_CONTAINER=6379
REDIS_URL=redis://localhost:6379
